/*!
 * Marp default theme.
 *
 * @theme upgrade
 *
 * @auto-scaling true
 * @size 4:3 960px 720px
 */


@import 'default';


section.lead {
    text-align: center;
    justify-content: center;
}
section {
    justify-content: initial;
}
section.code {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
section .columnFlex {
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 100%;
}
section .columnFlex div {
    background-color: #BBB;
    margin: 20px;
    padding: 10px 0px;
    height: 100%;
}