/*!
 * Marp default theme.
 *
 * @theme upgrade
 *
 * @auto-scaling true
 * @size 4:3 960px 720px
 */


@import 'default';


section.lead {
    text-align: center;
    justify-content: center;
}
section {
    justify-content: initial;
}
section.code {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
section .columnFlex {
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 100%;
}
section .columnFlex div {
    background-color: #DDD;
    margin: 20px;
    padding: 0 20px;
    height: 100%;
}

/* Title Slide */

section.title {
--title-height: 130px;
--subtitle-height: 70px;

overflow: visible;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr var(--title-height) var(--subtitle-height) 1fr;
grid-template-areas: "." "title" "subtitle" ".";
}

section.title h1,
section.title h2 {
margin: 0;
padding: 0;
text-align: center;
height: var(--area-height);
line-height: var(--area-height);
font-size: calc(var(--area-height) * 0.7);

/* border: 1px dashed gray; debug */
}

section.title h1 {
grid-area: title;
--area-height: var(--title-height);
}

section.title h2 {
grid-area: subtitle;
--area-height: var(--subtitle-height);
}

/* Split Slide */

section.split {
overflow: visible;
display: grid;
grid-template-columns: 500px 500px;
grid-template-rows: 100px auto;
grid-template-areas: 
    "slideheading slideheading"
    "leftpanel rightpanel";
}
section.split h1 {
grid-area: slideheading;
font-size: 50px;
}
section.split div {
    text-align: center;
}
section.split .ldiv { grid-area: leftpanel; }
section.split .rdiv { grid-area: rightpanel; }

/* debug */
/* section.split h1, 
section.split .ldiv, 
section.split .rdiv { border: 1.5pt dashed dimgray; } */